@media (max-width: 767px) {
  header {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .navbarContainer button img{
    width: 30px;
    height: 30px;
  }
  header .navbar-nav {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    justify-content: center;
    border-radius: 0px;
  }
  header .navbar-nav .nav-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    color: #311f09;
  }
  header .navbar-nav .nav-link:hover,
  header .navbar-nav .nav-link.active {
    color: #ff8a00;
  }
  #navbarSupportedContent .cartIcon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    color: #311f09;
    background-color: #d0ccc730;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  #navbarSupportedContent .cartIcon:hover {
    background-color: #ff8a00;
    color: #fff;
  }
  #navbarSupportedContent .loginBtn {
    margin-bottom: 10px;
  }
  #navbarSupportedContent .loginBtn:hover {
    background: #ff8a00;
    color: #fff;
  }
  /* ========== HERO CSS START =======   */
  .btn {
    font-size: 16px;
    padding: 10px 20px;
  }
  .heroSection {
    margin-top: 30px;
  }
  .heroSection .heroCnt span {
    padding: 10px 34px;
    font-size: 12px;
  }
  .heroSection .heroCnt h1 {
    font-size: 60px;
    margin: 15px 0;
  }
  .heroSection .heroCnt p {
    font-size: 12px;
  }
  .heroSection .heroCnt .btns {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 30px 0;
  }
  /* ===== === HERO CSS END =======  * */
  /* ======== WELCOME CSS START =======  */
  .welcomeSection .welcomeCnt h1 {
    font-size: 55px;
    line-height: 115%;
    margin-top: 50px;
  }
  .welcomeSection .welcomeCnt p {
    font-size: 12px;
    margin: 20px 0 50px 0;
  }
  /* =========== Our popular menu CSS START =======  */
  .popularMenuSection {
    padding: 62px 0;
  }
  .popularMenuSection .popularMenuCnt h1 {
    font-size: 38px;
    margin-bottom: 30px;
  }
  .popularMenuSection .popularNav {
    overflow: hidden;
    display: flex;
    /* gap: 20px; */
  }
  .popularMenuSection .popularNav a {
    font-size: 12px;
    /* padding: 10px 20px; */
    display: flex;
    justify-content: space-between;
  }
  .popularMenuSection .menu-card {
    margin: 30px 0 60px 0;
    display: flex;
  }
  .popularMenuSection .popularMenuCard {
    border-radius: 18px;
    padding: 8px;
  }
  .popularMenuSection .popularMenuCard .popularMenuCardCnt h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 8px;
  }
  .popularMenuSection .popularMenuCard .popularMenuCardCnt .starIcon {
    color: #ff8a00;
    font-size: 10px;
    margin-bottom: 10px;
  }
  .popularMenuSection .popularMenuCard .popularMenuCardCnt p {
    font-size: 12px;
    line-height: 120%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 20px;
  }
  .popularMenuSection
    .popularMenuCard
    .popularMenuCardCnt
    .popularMenuCardBtn
    h2 {
    font-size: 16px;
    color: #ff8a00;
  }
  .popularMenuSection
    .popularMenuCard
    .popularMenuCardCnt
    .popularMenuCardBtn
    a {
    font-size: 10px;
    line-height: 130%;
    border-radius: 20px;
    padding: 11px 10px;
  }
  /* pagination */
  .popularMenuSection .pagination {
    gap: 2vw;
    margin-top: 20px;
  }
  .popularMenuSection .pagination a {
    border-radius: 5px;
    padding: 6px 14px;
    font-size: 12px;
  }
  .popularMenuSection .pagination span {
    display: none;
  }
  .popularMenuSection .pagination .paginationIcon {
    background: #311f09;
    color: #fff;
  }

  /* pagination end*/
  /* =========== Our popular menu CSS END =======  */
  /* ======= RESERVE SECTION START ======= */
  .reserveSection {
    padding: 60px 0 32px 0;
    background: #fff4e771;
  }
  .reserveSection .reserveCnt {
    padding-left: 20px;
  }
  .reserveSection .reserveCnt h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 115%;
    color: #311f09;
  }
  .reserveSection .reserveCnt h1 span {
    color: #ff8a00;
  }
  .reserveSection .reserveCnt p {
    font-size: 12px;
    margin: 32px 0 40px 0;
  }
  .reserveSection .reserveCnt a {
    margin-bottom: 15px;
  }
  /* ======= RESERVE SECTION END ======= */
  /* ======= OUR GREATEST CHEF SECTION START ======= */
  .greatestChefSection {
    padding: 50px 0 40px 0;
  }
  .greatestChefSection .greatestChefCardCnt {
    padding-right: 0;
  }
  .greatestChefSection .greatestChefCnt h1 {
    font-size: 40px;
    line-height: 135%;
    margin-bottom: 50px;
  }
  .greatestChefSection .greatestChefCardCnt h1 {
    font-weight: 600;
    font-size: 14px;
    margin: 15px 0 5px 0;
  }
  .greatestChefSection .greatestChefCardCnt span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: #a08d76;
  }
  .greatestChefSection .greatestChefBtn {
    margin-top: 0;
  }

  /* ======= OUR GREATEST CHEF SECTION END ======= */
}
