@media (max-width: 767px) {
  .btn {
    font-size: 16px;
    padding: 10px 20px;
  }
  .heroSection {
    margin-top: 30px;
  }
  .heroSection .heroCnt span {
    padding: 10px 34px;
    font-size: 12px;
  }
  .heroSection .heroCnt h1 {
    font-size: 60px;
    margin: 15px 0;
  }
  .heroSection .heroCnt p {
    font-size: 12px;
  }
  .heroSection .heroCnt .btns {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 30px 0;
  }
  /* ===== === HERO CSS END =======  * */
  /* ======== WELCOME CSS START =======  */
  .welcomeSection .welcomeCnt h1 {
    font-size: 55px;
    line-height: 115%;
    margin-top: 50px;
  }
  .welcomeSection .welcomeCnt p {
    font-size: 12px;
    margin: 20px 0 50px 0;
  }
  /* =========== Our popular menu CSS START =======  */
  .popularMenuSection {
    padding: 62px 0;
  }
  .popularMenuSection .popularMenuCnt h1 {
    font-size: 38px;
    margin-bottom: 30px;
  }
  .popularMenuSection .popularNav {
    overflow: hidden;
    display: flex;
    /* gap: 20px; */
  }
  .popularMenuSection .popularNav a {
    font-size: 12px;
    /* padding: 10px 20px; */
    display: flex;
    justify-content: space-between;

  }
  .popularMenuSection .menu-card {
    margin: 30px 0 60px 0;
    display: flex;
  }
  .popularMenuSection .popularMenuCard {
    border-radius: 18px;
    padding: 8px;
  }
  .popularMenuSection .popularMenuCard .popularMenuCardCnt h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    margin-bottom: 8px;
  }
  .popularMenuSection .popularMenuCard .popularMenuCardCnt .starIcon {
    color: #ff8a00;
    font-size: 10px;
    margin-bottom: 10px;
  }
  .popularMenuSection .popularMenuCard .popularMenuCardCnt p {
    font-size: 12px;
    line-height: 120%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 20px;
  }
  .popularMenuSection
    .popularMenuCard
    .popularMenuCardCnt
    .popularMenuCardBtn
    h2 {
    font-size: 16px;
    color: #ff8a00;
  }
  .popularMenuSection
    .popularMenuCard
    .popularMenuCardCnt
    .popularMenuCardBtn
    a {
    font-size: 10px;
    line-height: 130%;
    border-radius: 20px;
    padding: 11px 10px;
  }
  /* =========== Our popular menu CSS END =======  */
}
