@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
:root {
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Tinos', sans-serif;
  --third-family: 'Raleway', sans-serif;
}
/* ======= COMMON CSS START ======= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  scroll-behavior: smooth;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
span {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-family);
  overflow-x: hidden;
}
.btn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 200%;
  color: #fff;
  background: #ff8a00;
  border-radius: 163px;
  padding: 17px 62px;
  transition: all 0.3s ease-in-out;
  border: none;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
}
.btn:hover {
  background: #4caf50;
  color: #fff;
}
.btn::before{
  content: "";
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 100%;
  background: #4caf50;
  transform: skewX(35deg);
  z-index: -9999;
  transition: width 0.3s ease;
}
.btn:hover::before {
  width: 150%;
}
.btn-primary {
  background-color: #4caf50;
}
.btn-primary:hover {
  background-color: #ff8a00;
}
/* ======= Common CSS END =======  */
/* ======= HEADER CSS START ======= */
.navbarContainer button {
  background: transparent;
  border: none;
  color: #311f09;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 200%;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}
.navbarContainer button:hover {
  color: #ff8a00;
}
.navbar-toggler:focus {
  outline: none;
  color: #ff8a00;
}
.navbar-toggler:checked {
  outline: none;
  color: #ff8a00;
}
.navbarContainer button:focus {
  outline: none;
  color: #ff8a00;
  border: none;
  background: transparent;
}
.cartIcon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #311f09;
  background-color: #d0ccc730;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
.cartIcon:hover {
  background-color: #ff8a00;
  color: #fff;
}
/* ///////////// */
header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
header .navbar-nav {
  display: flex;
  gap: 45px;
}
header .navbar-nav .nav-link {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 15px;
  color: #311f09;
}
header .navbar-nav .nav-link:hover,
header .navbar-nav .nav-link.active {
  color: #ff8a00;
}
#navbarSupportedContent .cartIcon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #311f09;
  background-color: #d0ccc730;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
#navbarSupportedContent .cartIcon:hover {
  background-color: #ff8a00;
  color: #fff;
}

#navbarSupportedContent .loginBtn {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  background: #3fa72f;
  border-radius: 133px;
  padding: 15px 35px;
  transition: all 0.3s ease-in-out;
}
#navbarSupportedContent .loginBtn:hover {
  background: #ff8a00;
  color: #fff;
}
/* ======== HEADER CSS END =======  */
/* ======== HERO CSS START =======  */

/* ===== GSAP ======= * */
.heroSection {
  width: 100%;
  height: 100vh;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: visible;
}
.heroSection .heroCnt span {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  background: #ff880029;
  color: #ff8a00;
  border-radius: 126px;
  padding: 10px 34px;
}
.heroSection .heroCnt h1 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  color: #311f09;
  margin: 22px 0 30px 0;
}
.heroSection .heroCnt p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #5c4529;
}
.heroSection .heroCnt .btns {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

/* //////// */

.animated {
  animation: up-down 2s ease-in-out infinite alternate both;
}
@keyframes up-down {
  0% {
    transform: translateY(15px);
  }

  100% {
    transform: translateY(-15px);
  }
}

[data-aos='heroImg'] {
  transform: rotate(180deg);
  opacity: 0;
  transition-property: transform, opacity;
  &.aos-animate {
    transform: rotate(0);
    opacity: 1;
  }
}
/* ========== HERO CSS END =======  */
/* ======== WELCOME CSS START =======  */
#move {
  background-color: #d8ff04;
  padding: 2vw 0;
  display: flex;
  overflow: visible;
  position: relative;
}
#move .marque {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 3vw;
  padding: 0 1.5vw;
  transform: translateX(-100%);
}
#move .marque h1 {
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 4vw;
  color: #311f09;
  text-transform: uppercase;
}
/* marque end */
.welcomeSection {
  width: 100%;
  height: 100vh;
  min-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3fc66e1e;
  overflow-x: hidden;
}
.welcomeSection .welcomeCnt h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  color: #311f09;
}
.welcomeSection .welcomeCnt h1 span {
  color: #ff8a00;
}
.welcomeSection .welcomeCnt p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #5c4529;
  margin: 60px 0 100px 0;
}
/* ======== WELCOME CSS END =======   */
/* =========== Our popular menu CSS START =======  */
.popularMenuSection {
  padding: 150px 0 200px 0;
}
.popularMenuSection .popularMenuCnt h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 200%;
  color: #311f09;
  margin-bottom: 60px;
}
.popularMenuSection .popularNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.popularMenuSection .popularNav a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1vw;
  line-height: 200%;
  color: #311f09;
  border-radius: 163px;
  background: #d0ccc74c;
  padding: 0.8vw 2vw;
  display: flex;
  transition: all 0.3s ease-in-out;
}
.popularMenuSection .popularNav a:hover {
  background: #311f09;
  color: #fff;
}
.popularMenuSection .popularNav a.active {
  background: #311f09;
  color: #fff;
}
.popularMenuSection .menu-card {
  margin: 60px 0 80px 0;
  display: flex;
}
.popularMenuSection .popularMenuCard {
  background-color: #f8f9fa;
  border-radius: 70px;
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.popularMenuSection .popularMenuCard:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.popularMenuSection .popularMenuCard .popularMenuCardImg img {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.popularMenuSection .popularMenuCard:hover .popularMenuCardImg img {
  transform: scale(1.1);
  rotate: 8deg;
}
.popularMenuSection .popularMenuCard .popularMenuCardCnt h1 {
  font-family: var(--font-family);
  line-height: 200%;
  color: #311f09;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;
}
.popularMenuSection .popularMenuCard .popularMenuCardCnt .starIcon {
  color: #ff8a00;
  font-size: 16px;
  margin-bottom: 12px;
}
.popularMenuSection .popularMenuCard .popularMenuCardCnt p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  color: #59442b;
  margin: 15px 0 30px 0;
}
.popularMenuSection
  .popularMenuCard
  .popularMenuCardCnt
  .popularMenuCardBtn
  h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 25px;
  color: #311f09;
}
.popularMenuSection .popularMenuCard .popularMenuCardCnt .popularMenuCardBtn a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 200%;
  color: #fff;
  background: #ff8a00;
  border-radius: 163px;
  padding: 11px 36px;
  transition: all 0.3s ease-in-out;
}
.popularMenuSection
  .popularMenuCard
  .popularMenuCardCnt
  .popularMenuCardBtn
  a:hover {
  background: #4caf50;
  color: #fff;
}

/* pagination */

.popularMenuSection .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  margin-top: 88px;
}
.popularMenuSection .pagination a {
  border-radius: 15px;
  background: #ff880025;
  /* padding: 10px 24px; */
  padding: 0.521vw 1.25vw;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 1vw;
  line-height: 200%;
  color: #ff8a00;
  transition: all 0.3s ease-in-out;
}
.popularMenuSection .pagination a:hover {
  background: #311f09;
  color: #fff;
}
.popularMenuSection .pagination span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100%;
  color: #b7a28b;
  /* font-size: 25px; */
  font-size: calc(0.8vw + 15px); /* Adjust values as needed */
}
.popularMenuSection .pagination .paginationIcon {
  background: #311f09;
  color: #fff;
}
.popularMenuSection .pagination .paginationIcon:hover {
  background: #ff8a00;
  color: #fff;
}
.popularMenuSection .pagination .paginationIcon:hover span {
  color: #fff;
}
/* pagination end*/
/* =========== Our popular menu CSS END =======  */
/* ======= RESERVE SECTION START ======= */
.reserveSection {
  padding: 85px 0 70px 0;
  background: #fff4e771;
  overflow-x: visible;
}
.reserveSection .reserveCnt {
  padding-left: 40px;
}
.reserveSection .reserveCnt h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  color: #311f09;
}
.reserveSection .reserveCnt h1 span {
  color: #ff8a00;
}
.reserveSection .reserveCnt p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #5c4529;
  margin: 50px 0 100px 0;
}
/* ======= RESERVE SECTION END ======= */
/* ======= OUR GREATEST CHEF SECTION START ======= */
.greatestChefSection {
  padding: 170px 0 270px 0;
}
.greatestChefSection .greatestChefCardImg {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  rotate: 4deg;
}
.greatestChefSection .greatestChefCardImg:hover {
  transform: scale(1.1);
  rotate: 0deg;
}
.greatestChefSection .greatestChefCardCnt {
  padding-right: 50px;
}
.greatestChefSection .greatestChefCnt h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 200%;
  color: #311f09;
  margin-bottom: 130px;
}
.greatestChefSection .greatestChefCardCnt h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 25px;
  line-height: 200%;
  color: #311f09;
  margin: 30px 0 20px 0;
}
.greatestChefSection .greatestChefCardCnt span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 25px;
  line-height: 200%;
  color: #a08d76;
}
.greatestChefSection .greatestChefBtn {
  margin-top: 150px;
}

/* ======= OUR GREATEST CHEF SECTION END ======= */
/* ======= OPEN TIME SECTION START ======= */
.openTimeSection {
  padding: 38px 0 238px 0;
}
.openTimeSection .opentimeBg {
  background-image: url(../img/we\ are\ open\ from.png);
  background-repeat: no-repeat;
  background-position: center;
}
.openTimeSection .opentimeBg .opentimeCnt {
  padding: 26px 0 80px 0;
}
.openTimeSection .opentimeBg .opentimeCnt h1 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 80px;
  line-height: 200%;
  color: #fff;
}
.openTimeSection .opentimeBg .opentimeCnt h5 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 40px;
  line-height: 200%;
  text-align: center;
  color: #fff;
}
.openTimeSection .opentimeBg .opentimeCnt p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  text-align: center;
  color: #fff;
}
.openTimeSection .opentimeBg .opentimeCnt a {
  margin-top: 50px;
}
.openTimeSection .opentimeBg .opentimeCnt .opentimeBtn {
  background: #fff;
  color: black;
}
.openTimeSection .opentimeBg .opentimeCnt .opentimeBtn:hover {
  background: #4caf50;
  color: #fff;
}
/* ======= OPEN TIME SECTION END ======= */
/* ========== FOOTER CSS START =======  */
footer {
  padding: 150px 0 75px 0;
  /* background: #311f09; */
  background-image: url(../img/herobg.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}
footer .footerLogo p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #e3e2e0;
  margin: 35px 0 40px 0;
}
footer .footerLogo a {
  border-radius: 100%;
  background-color: #ddd5d5;
  color: #311f09;
  width: 50px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}
footer .footerLogo a:hover {
  background-color: #ff8a00;
  color: #fff;
}
footer .page h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 25px;
  line-height: 200%;
  color: #ff8a00;
  margin-bottom: 25px;
}
footer .page a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #e3e2e0;
  margin-bottom: 15px;
  display: block;
  transition: all 0.3s ease-in-out;
}
footer .page a:hover {
  color: #ff8a00;
}
footer .information h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 25px;
  line-height: 200%;
  color: #ff8a00;
  margin-bottom: 25px;
}
footer .information a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #e3e2e0;
  margin-bottom: 15px;
  display: block;
  transition: all 0.3s ease-in-out;
}
footer .information a:hover {
  color: #ff8a00;
}
footer .getintouch h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 25px;
  line-height: 200%;
  color: #ff8a00;
  margin-bottom: 25px;
}
footer .getintouch p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #e3e2e0;
  margin-bottom: 15px;
}
footer .copyright {
  padding: 90px 0 0 0;
}
footer .copyright p,
footer .copyright a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  color: #e3e2e0;
}
footer .copyright a {
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
}
/* ========== FOOTER CSS END =======  */
